<html>
    <body>
        <h1>Estas en la página principal</h1>
        <h2>Aqui puedes ver el comportamiento de la práctica 2</h2>
        <h3>Estas son las direcciones que acepta la práctica:</h3>
        <p>localhost:8000/acortar</p>
        <p>Te ofrece el formulario donde puedes introducir una URL que quieras acortar, y la URL acortada</p>
        <p>localhost:8000/lista</p>
        <p>Muestra todas las URLs que maneja la práctica en ese momento</p>
        <p>localhost:8000/disp/#URL#</p>
        <p>Accede a las URL acortadas disponibles, busca la que has pedido y te redirige a ella</p>
        <br>
        <h3>Para cualquier otra dirección se muestra esta página</h3>
    </body>
</html>
